[plugin]
name: click_and_color
version: 1.1

# Elenco file Python da includere nello zip
python_files: __init__.py click_and_color.py

# File aggiuntivi da includere
extras: icon.png icon.svg metadata.txt LICENSE

# Cartelle da includere interamente (se presenti risorse .ui o resources.py, aggiungerle qui)
compiled_ui_files:
resource_file:
ui_files:

help_dir: help
doc_dir:

# Cartella dove pb_tool copia il plugin per il deploy locale
[git]
git: true
